# API Base URL (Render server URL)
VITE_API_BASE_URL=https://your-server-render-app.onrender.com

# Public Short URL Base (e.g. backend server URL or custom domain where redirects are handled)
VITE_PUBLIC_SHORT_URL_BASE=https://your-server-render-app.onrender.com
